html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
}

header p {
  color: #fff;
}

h1 {
  color: #fff;
}

fieldset {
  border: 0;
}

input {
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
